
{%comment%}
<div class="">
        <div id="title">
                <h2>{{ 'cart.general.product_recomendations_title' | t }}</h2>
            </div>
            <ul class="">
                {% for prod in collections.all.products %}
                product: {{prod.title}}
                <br>
                    {% for item in cart.items %}
                    item: {{item.title}}
             <br>
                    {%assign is_related = false%}
            
                    {%for prod_tag in prod.tags%}
            
                    {% if item.product.tags contains prod_tag %} 
                    {%assign is_related = true%}
                    {%endif%}
            
                    {%endfor%}
                 
                 
            
                
                        {% if is_related %} 
                
                <br>
            
                        {% endif %}
                    {% endfor %}
                    _______________
                    <br>
                {% endfor %}
                </ul>
</div>
{%endcomment%}





<div class="product-cart-recomendations">
        <div id="title">
                <h2>{{ 'cart.general.product_recomendations_title' | t }}</h2>
            </div>
        <div class="carousel js-carousel">
                <div class="carousel__container js-carousel-container">
                    <div class="carousel__nav">
                        <button class="carousel__button--prev js-carousel-button" data-dir="prev">&lt;</button>
                        <button class="carousel__button--next js-carousel-button" data-dir="next">&gt;</button>
                    </div>
                      
                    <div class="carousel__list  js-carousel-list" data-displayed-items="6">
                            {% for prod in collections.all.products %}
                            
                            {% for item in cart.items %}
                            {%assign is_related = false%}
                    
                            {%for prod_tag in prod.tags%}
                    
                            {% if item.product.tags contains prod_tag and item.product.handle != prod.handle %} 
                        
                            {%assign is_related = true%}
                          
                            {%endif%}
                    
                            {%endfor%}
                                {% if is_related %} 
                        
                        <br>

              
                         {%include 'product-recomend-item', prod: prod%}
                        

                    
                         
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
             
                  
              
            </div>
</div>





    
<script>
  
  

  

   

  

 

    $( document ).ready(function() {
 



});
    
 
  
        
</script>
