
{%comment%}
<div class="">
        <div id="title">
                <h2>{{ 'cart.general.product_recomendations_title' | t }}</h2>
            </div>
            <ul class="">
                {% for prod in collections.all.products %}
                product: {{prod.title}}
                <br>
                    {% for item in cart.items %}
                    item: {{item.title}}
             <br>
                    {%assign is_related = false%}
            
                    {%for prod_tag in prod.tags%}
            
                    {% if item.product.tags contains prod_tag %} 
                    {%assign is_related = true%}
                    {%endif%}
            
                    {%endfor%}
                 
                 
            
                
                        {% if is_related %} 
                
                <br>
            
                        {% endif %}
                    {% endfor %}
                    _______________
                    <br>
                {% endfor %}
                </ul>
</div>
{%endcomment%}





<div class="product-cart-recomendations">
        <div id="title">
                <h2>{{ 'cart.general.product_recomendations_title' | t }}</h2>
            </div>
        <div class="carousel js-carousel">
                <div class="carousel__container js-carousel-container">
                        <div class="carousel__nav">
                                <button class="carousel__button--prev js-carousel-button" data-dir="prev">&lt;</button>
                                <button class="carousel__button--next js-carousel-button" data-dir="next">&gt;</button>
                            </div>
                    <div class="carousel__list js-carousel-list" data-displayed-items="6">
                            {% for prod in collections.all.products %}
                            
                            {% for item in cart.items %}
                            {%assign is_related = false%}
                    
                            {%for prod_tag in prod.tags%}
                    
                            {% if item.product.tags contains prod_tag and item.product.handle != prod.handle %} 
                        
                            {%assign is_related = true%}
                          
                            {%endif%}
                    
                            {%endfor%}
                                {% if is_related %} 
                        
                        <br>

              
                         {%include 'product-recomend-item', prod: prod%}
                        

                    
                         
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
              
            </div>
</div>





    
<script>

    function changeProducts(){
        /*
        var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       // Typical action to be performed when the document is ready:
      // document.getElementById("demo").innerHTML = xhttp.responseText;
      //console.log(xhttp.responseText);
      var request = JSON.parse(xhttp.responseText);
      var productList = request.products;
     
      console.log('products[0].title='+productList[0].title);
    }
};
xhttp.open("GET", "https://2b330157ee7c8eb619e549aa58c12572:c7732fdd717354b9f5a2e44f1a4727b7@terratest3.myshopify.com/admin/api/2019-10/products.json", true);
xhttp.send();
       */
 
        var xhttp = new XMLHttpRequest();
xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
       // Typical action to be performed when the document is ready:
      // document.getElementById("demo").innerHTML = xhttp.responseText;
      //console.log(xhttp.responseText);

      console.log('response = '+xhttp.responseText);
    }
    else{

        console.log('ReadyState='+ this.readyState);
        console.log('Status='+ this.status);
    }
};
xhttp.open("POST", " https://2b330157ee7c8eb619e549aa58c12572:c7732fdd717354b9f5a2e44f1a4727b7@terratest3.myshopify.com/admin/api/2020-01/graphql.json",true);
xhttp.setRequestHeader('Content-Type', 'application/graphql');
xhttp.setRequestHeader('X-Shopify-Access-Token', 'c7732fdd717354b9f5a2e44f1a4727b7');
var query =  
' { \n ' +
  ' products(query: "tag:pantalón OR tag:sueter", first: 6, sortKey: TITLE) ' + ' { \n ' +
    ' edges ' + ' { \n ' +
      ' node ' + ' { \n ' +
        ' id \n ' + 
        ' title \n ' +
        ' tags \n ' +
      ' } \n ' +
    ' } \n ' +
  ' } \n ' +
' } \n '
 ;
console.log('query='+ query);
xhttp.send(query);
    }

    function showProducts(){
        var Total_item = $("div.item-related").length, // Total number of raltaed item to choose from
        item_toshow = 6, // total items to show in your cart page
        array = [], // array with index number of all available items
        shuffle = [], // array with shuffled index number
        rnd;

        console.log('total_item'+ Total_item);
    
    for (i = 0; i < Total_item; i++) {
      array[i] = i;
    }
    
    for (i = 0; i < Total_item; i++) { // pick numbers
      rnd = Math.floor(Math.random() * array.length); 
      shuffle[i] = array.splice(rnd,1)[0]; // remove the selected number from the array and get it in another variable
    }
    
    for (i = 0; i < item_toshow; i++){
     
        $("div.item-related").slice(shuffle[i],shuffle[i]+1).show();
    }
    }

    $( document ).ready(function() {
    
   showProducts();
   changeProducts();
});
    
 
  
        
</script>
